<div class="container" style= "width: 60%">
  <%= simple_form_for(@material) do |f| %>

    <%= f.input :category, :collection => ['Ski', 'Snowboard', 'Luge', 'Racket', 'Mono-ski']  %>

    <%= f.input :size, :collection => ['Small', 'Medium', 'Large'] %>

    <%= f.input :price %>

    <%= f.input :description %>

    <%= f.input :localisation %>

    <%= f.input :photo %>

    <%= f.submit "Submit", class: "btn btn-primary" %>

  <% end %>
</div>
