<div class="container">
  <div id="owner">
  <% @materials.where(user: current_user).each do |material| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h1><%= material.category.capitalize %></h1>
        <h2> Location :<%= material.localisation.capitalize %> </h2>
        <%= link_to "Details", material_path(material.id) %>
        <%= link_to 'Edit', edit_material_path(material.id) %>
        <%= link_to "Delete",
            material_path(material.id),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
      </div>
    </div>
    <% end %>
    <%= link_to 'Create new material', new_material_path(), class: "btn btn-primary"%>
  </div>

  <div id="user">
    <% @materials.where.not(user: current_user).each do |material| %>
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h1><%= material.category.capitalize %></h1>
          <h2> Location :<%= material.localisation.capitalize %> </h2>
          <%= link_to "Details", material_path(material.id) %>
          <%= link_to 'Edit', edit_material_path(material.id) %>
          <%= link_to "Delete",
              material_path(material.id),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    <% end %>
    <%= link_to 'Create new material', new_material_path(), class: "btn btn-primary"%>
  </div>
</div>
