<div class="container" style="width: 60%;">
  <%= simple_form_for(@material) do |f| %>

    <%= f.input :category, :collection => ['ski', 'snowboard', 'luge', 'racket', 'mono-ski'] %>

    <%= f.input :size, :collection => ['small', 'medium', 'large'] %>

    <%= f.input :price %>

    <%= f.input :description %>

    <%= f.input :localisation %>

    <%= f.submit "Submit", class: "btn btn-success" %>

  <% end %>

  <%= link_to 'Back to materials list ', materials_path %>
</div>
