
<h2><%= @material.category %></h2>

<ul>
  <li> <p><%= @material.size %></p> </li>
  <li> <p><%= @material.price %></p> </li>
  <li> <p><%= @material.description %></p> </li>
  <li> <p><%= @material.localisation %></p> </li>
</ul>

<%= link_to "Delete #{@material.category}",
            material_path(@material),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
