
<h2><%= @material.category %></h2>

<ul>
  <li> <p><%= @material.size %></p> </li>
  <li> <p><%= @material.price %></p> </li>
  <li> <p><%= @material.description %></p> </li>
  <li> <p><%= @material.localisation %></p> </li>
</ul>
